<%= require('./html-includes/header.html')() %>

<section class="page-header">
  <div class="page-header-title">Рекламодателю</div>
  <div class="lg:text-xl">
    Узнайте о возможностях, которые Таргетс360 <br class="max-sm:hidden">
    предоставляет клиенту маркетинговых услуг
  </div>
</section>

<section class="p-section">
  <div class="title mb-12">Таргетс360 предоставляет</div>

  <div class="grid lg:grid-cols-2 gap-7">
    <div class="advantages-item  advertiser-item-1">
      <div class="relative">
        <div class="flex gap-6 sm:flex-col max-sm:items-center">
          <div class="advantages-item-image">
            1
          </div>
          <div class="text-lg sm:text-2xl font-bold">Регулярный поток клиентов из интернета</div>
        </div>
        <div class="mt-5 max-sm:text-sm">
          Вы делегируете управление диджитал-маркетингом Таргетс360.
          Наши специалисты выстраивают системный диджитал-маркетинг,
          который приводит вам новых клиентов.
        </div>
      </div>
    </div>
    <div class="advantages-item  advertiser-item-2">
      <img src="img/advertiser/1.png" alt="" class="absolute-fit object-cover">
      <div class="relative">
        <div class="flex gap-6 sm:flex-col max-sm:items-center">
          <div class="advantages-item-image">
            2
          </div>
          <div class="text-lg sm:text-2xl font-bold">Регулярный поток клиентов из интернета</div>
        </div>
        <div class="mt-5 max-sm:text-sm">
          Вы делегируете управление диджитал-маркетингом Таргетс360.
          Наши специалисты выстраивают системный диджитал-маркетинг,
          который приводит вам новых клиентов.
        </div>
      </div>
    </div>
    <div class="advantages-item  advertiser-item-3">
      <img src="img/advertiser/1.png" alt="" class="absolute-fit object-cover">
      <div class="relative">
        <div class="flex gap-6 sm:flex-col max-sm:items-center">
          <div class="advantages-item-image">
            3
          </div>
          <div class="text-lg sm:text-2xl font-bold">Регулярный поток клиентов из интернета</div>
        </div>
        <div class="mt-5 max-sm:text-sm">
          Вы делегируете управление диджитал-маркетингом Таргетс360.
          Наши специалисты выстраивают системный диджитал-маркетинг,
          который приводит вам новых клиентов.
        </div>
      </div>
    </div>
    <div class="advantages-item  advertiser-item-4">
      <img src="img/advertiser/2.png" alt="" class="absolute-fit object-cover">
      <div class="relative">
        <div class="flex gap-6 sm:flex-col max-sm:items-center">
          <div class="advantages-item-image">
            4
          </div>
          <div class="text-lg sm:text-2xl font-bold">Регулярный поток клиентов из интернета</div>
        </div>
        <div class="mt-5 max-sm:text-sm">
          Вы делегируете управление диджитал-маркетингом Таргетс360.
          Наши специалисты выстраивают системный диджитал-маркетинг,
          который приводит вам новых клиентов.
        </div>
      </div>
    </div>
    <div class="advantages-item  advertiser-item-5">
      <div class="relative">
        <div class="flex gap-6 sm:flex-col max-sm:items-center">
          <div class="advantages-item-image">
            5
          </div>
          <div class="text-lg sm:text-2xl font-bold">Регулярный поток клиентов из интернета</div>
        </div>
        <div class="mt-5 max-sm:text-sm">
          Вы делегируете управление диджитал-маркетингом Таргетс360.
          Наши специалисты выстраивают системный диджитал-маркетинг,
          который приводит вам новых клиентов.
        </div>
      </div>
    </div>
    <div class="advantages-item  advertiser-item-6">
      <img src="img/advertiser/1.png" alt="" class="absolute-fit object-cover">
      <div class="relative">
        <div class="flex gap-6 sm:flex-col max-sm:items-center">
          <div class="advantages-item-image">
            6
          </div>
          <div class="text-lg sm:text-2xl font-bold">Регулярный поток клиентов из интернета</div>
        </div>
        <div class="mt-5 max-sm:text-sm">
          Вы делегируете управление диджитал-маркетингом Таргетс360.
          Наши специалисты выстраивают системный диджитал-маркетинг,
          который приводит вам новых клиентов.
        </div>
      </div>
    </div>
  </div>
</section>

<section class="connect">
  <div class="title">Свяжитесь с нами по любым вопросам</div>
  <button class="btn btn-primary btn-fill sm:px-14 max-sm:w-full">Связаться</button>
</section>


<%= require('./html-includes/footer.html')() %>