<%= require('./html-includes/header.html')() %>
<%= require('./html-includes/page-header.html')() %>

<section class="p-section">
  <div class="title mb-12">Специалисты</div>

  <div class="grid lg:grid-cols-2 gap-7">
    <% for(let i = 0; i < 10; i++) { %>
    <div class="solution-item">
      <div class="solution-item-header">
        <div class="solution-item-image">
          <c-icon class="icon" href="img/icons.svg#user-id"></c-icon>
        </div>
        <div class="text-lg sm:text-2xl font-bold font-alt">
          Проект-менеджер
          по интернет-маркетингу
        </div>
      </div>
      <div class="solution-item-content">
        <div class="opacity-80">
          Курирует работу с любыми подрядчиками в области
          интернет-маркетинга. Вместе с вами этот специалист формирует
          тактику и стратегию продвижения, фиксирует ожидаемый KPI,
          ставит задачи и контролирует результат.
        </div>
        <div class="mt-6 font-semibold mb-5">Что входит в услугу:</div>
        <div class="flex flex-col gap-2.5">
          <% for(let i = 0; i < 4; i++) { %>
          <div class="flex items-center gap-3">
            <div class="size-5 flex rounded-full bg-sec shrink-0">
              <c-icon class="icon m-auto text-sm text-accent" href="img/icons.svg#gal-ochka-alt"></c-icon>
            </div>
            <div class="opacity-80">Курирование работы с подрядчиками </div>
          </div>
          <% } %>
        </div>
        <button class="btn btn-primary btn-fill mt-12 sm:px-14 max-sm:w-full">Подробнее</button>
      </div>
    </div>
    <% } %>
  </div>

  <div class="mt-8 sm:mt-16">
    <div class="note px-4 sm:px-10 py-8 mb-14 flex gap-3 sm:gap-7 items-center">
      <div class="note-image">
        <c-icon class="icon" href="img/icons.svg#users"></c-icon>
      </div>
      <div class="text-sm sm:text-2xl font-alt font-bold">
        Вы можете собрать команду из различных специалистов
        в различной комбинации времени под задачи вашего бизнеса.
      </div>
    </div>
  </div>
  <div class="mt-8 sm:mt-16">
    <div class="flex gap-3 sm:gap-8">
      <div class="w-1 rounded-md bg-accent"></div>
      <div>
        <div class="text-xl sm:text-3.5xl font-bold font-alt">Стоимость аутсорсинга</div>
        <div class="mt-3 text-sm sm:text-xl">
          Минимальный стартовый пакет — <span class="font-semibold whitespace-nowrap">29 000 ₽/мес.</span> <br>
          Итоговая цена зависит от состава команды и объема задач.
        </div>
      </div>
    </div>
  </div>
</section>

<%= require('./html-includes/connect.html')() %>
<%= require('./html-includes/footer.html')() %>