<%= require('./html-includes/header.html')() %>

<section class="p-section">
  <div class="flex mb-10">
    <a href="/" class="btn btn-primary gap-3 btn-text">
      <c-icon class="icon" href="img/icons.svg#arrow-left"></c-icon>
      Вернуться назад
    </a>
  </div>
  <div class="title text-2xl md:text-3.5xl mb-8">
    Впервые протестировали «Товары и предложения» в Яндексе
    и получили 386 переходов
  </div>
  <div class="font-medium opacity-70 mb-8">маркетинг</div>


  <div class="blog-detail">
    <p>
      Внедрили CRM-систему. Настроили бизнес-процессы, которые упростили работу менеджеров с клиентами, замерщиками и монтажниками.
    </p>
    <img src="img/test.jpg" alt="">

    <table border="10">
      <tbody>
        <tr>
          <td>
            Период
          </td>
          <td>
            Глубина просмотра&nbsp; &nbsp; &nbsp;
          </td>
          <td>
            Количество оформлений заказов из корзины
          </td>
        </tr>
        <tr>
          <td>
            До оптимизации каталога<br>
            (с 01.12.22 по 30.04.23)
          </td>
          <td>
            10,5
          </td>
          <td>
            208
          </td>
        </tr>
        <tr>
          <td>
            После оптимизации<br>
            (с 01.05.23 по 30.09.23)<br>
          </td>
          <td>
            14,8
          </td>
          <td>
            365
          </td>
        </tr>
      </tbody>
    </table>

    <h2>О клиенте</h2>
    <p>
      «Оконный доктор» остекляет балконы и лоджии под ключ, устанавливает и ремонтирует пластиковые и алюминиевые окна.
      У компании есть филиалы в Анапе и Сочи.
    </p>
    <h2>Задачи</h2>
    <ul>
      <li>Внедрить CRM-систему, чтобы все сотрудники работали в одной программе.</li>
      <li>Настроить сквозную аналитику, чтобы отслеживать эффективность рекламных каналов.</li>
      <li>Создать воронку продаж и бизнес-процессы, которые автоматизируют и упрощают взаимодействие между отделами.</li>
    </ul>
    <ol>
      <li>Внедрить CRM-систему, чтобы все сотрудники работали в одной программе.</li>
      <li>Настроить сквозную аналитику, чтобы отслеживать эффективность рекламных каналов.</li>
      <li>Создать воронку продаж и бизнес-процессы, которые автоматизируют и упрощают взаимодействие между отделами.</li>
    </ol>
    <h2>Как решали: CRM-система</h2>
    <p>
      Внедрили базовые функции CRM-системы «Битрикс24» и подключили телефонию. Компания обратилась к нам, когда уже использовала LPTracker. С помощью сервиса менеджеры «Оконного доктора» собирали обращения, но не могли автоматизировать дальнейшую работу по подключению замерщика и монтажника. Так что первым делом мы перевели менеджеров на работу по корпоративным телефонам, которые подключили в «Битрикс24». Теперь в CRM-системе стали фиксироваться все клиентские обращения. Также мы научили менеджеров обрабатывать заявки в новой CRM-системе и сохранять все необходимые данные клиента.
      <a href="">youtube</a>
    </p>
  </div>
</section>

<%= require('./html-includes/connect.html')() %>
<%= require('./html-includes/footer.html')() %>