<%= require('./html-includes/header.html')() %>
<%= require('./html-includes/page-header.html')() %>


<section class="p-section">
  <div class="font-alt text-xl sm:text-2xl font-semibold mb-8">
    Использование интернет-сервиса targets360.ru, его продуктов, служб
    и технических платформ (далее «Таргетс360») предоставляются компанией
    ООО «ГК БизнесПрофи» (ИНН:2311249315).
  </div>
  <div class="opacity-80 mb-8">
    В данном разделе размещены правовые документы, которые регулируют отношения между администрацией сайта и пользователями,
    а также отношения пользователей друг с другом.
  </div>

  <div class="flex items-center gap-4 border border-accent p-4 rounded-2xl">
    <c-icon class="icon text-4xl text-accent" href="img/icons.svg#danger"></c-icon>
    <div class="opacity-80 max-sm:text-sm">
      Используя Таргетс360, вы соглашаетесь со всеми настоящими Правовыми документами. Просим вас внимательно ознакомиться с ними.
    </div>
  </div>

  <div class="mt-14"></div>
  <div class="flex items-center gap-4">
    <c-icon class="icon text-2xl sm:text-4xl text-accent" href="img/icons.svg#doc"></c-icon>
    <div class="font-alt font-semibold text-xl sm:text-2xl">Лицензионное соглашение</div>
  </div>

  <div class="my-8 border-t border-default/10"></div>

  <div>
    <div class="flex items-center gap-4">
      <c-icon class="icon text-2xl sm:text-4xl text-accent" href="img/icons.svg#doc"></c-icon>
      <div class="font-alt font-semibold text-xl sm:text-2xl">Политика обработки персональных данных</div>
    </div>

    <div class="opacity-80 mt-6">
      Мы ответственно относимся к соблюдению требований законодательства о защите персональных данных и конфиденциальности
      ваших персональных данных. Данные документы регулирует то, какие персональные данные мы собираем, обрабатываем, храним,
      а также порядок изменения, отзыва и удаления ваших персональных данных.
    </div>
    <div class="mt-3 opacity-80 font-semibold">
      Номер ООО «ГК БизнесПрофи» в реестре операторов по обработке персональных данных: 23-19-010217.
    </div>
    <div class="flex mt-6">
      <a href="javascript:;" class="btn btn-text btn-accent">
        <span class="underline underline-offset-4 decoration-dashed decoration-from-font">
          Политика в отношении обработки персональных данных
        </span>
      </a>
    </div>
  </div>

  <div class="my-8 border-t border-default/10"></div>
  <div>
    <div class="flex items-center gap-4">
      <c-icon class="icon text-2xl sm:text-4xl text-accent" href="img/icons.svg#doc"></c-icon>
      <div class="font-alt font-semibold text-xl sm:text-2xl">Мы используем файлы cookie</div>
    </div>

    <div class="opacity-80 mt-6">
      ООО “ГК БизнесПрофи” на сайте <a href="https://targets360.ru/" class="hover-underline text-accent">https://targets360.ru/</a> и его поддоменах использует cookie для обеспечения функционирования веб-сайта,
      аналитики действий на веб-сайте и улучшения качества обслуживания.
    </div>
    <div class="mt-3 opacity-80 font-semibold">
      Для получения дополнительной информации вы можете ознакомиться с условиями и принципами их обработки в документе 
    </div>
    <div class="flex mt-6">
      <a href="javascript:;" class="btn btn-text btn-accent">
        <span class="underline underline-offset-4 decoration-dashed decoration-from-font">
          Политика в отношении обработки персональных данных
        </span>
      </a>
    </div>
    <div class="mt-6 font-semibold">Если Вы не хотите, чтобы эти данные обрабатывались, отключите cookie в настройках браузера.</div>
  </div>
</section>


<%= require('./html-includes/connect.html')() %>
<%= require('./html-includes/footer.html')() %>