<%= require('./html-includes/header.html')() %>



<section class="started">
  <div class="started-content">
    <div class="started-title">Таргетс360</div>
    <div class="font-semibold">Сервис эффективного управления маркетингом</div>
    <div class="mt-8 max-sm:text-sm">
      Таргетс360 — онлайн маркетплейс маркетинговых услуг.
      Мы соединяем людей, которым нужна помощь в вопросах
      маркетинга и продвижения бизнеса, с профессиональными
      маркетологами через удобный сервис взаимодействия.
    </div>
    <button class="btn btn-primary btn-fill mt-15">Обсудить проект</button>
  </div>
  <div class="started-image">
    <img src="img/started.png" alt="">
  </div>
</section>

<!-- Что Таргетс360 дает бизнесу -->
<section class="p-section advantages">
  <div class="title mb-12">Что Таргетс360 дает бизнесу</div>

  <div class="grid grid-cols-12 gap-7">
    <div class="col-span-12 sm:col-span-6 advantages-item  advantages-item-1">
      <img src="img/advantages/1.png" alt="" class="absolute-fit object-cover">
      <div class="relative">
        <div class="flex gap-6 sm:flex-col max-sm:items-center">
          <div class="advantages-item-image">
            <c-icon class="icon" href="img/icons.svg#users"></c-icon>
          </div>
          <div class="text-lg sm:text-2xl font-bold">Регулярный поток клиентов из интернета</div>
        </div>
        <div class="mt-5 max-sm:text-sm">
          Вы делегируете управление диджитал-маркетингом Таргетс360.
          Наши специалисты выстраивают системный диджитал-маркетинг,
          который приводит вам новых клиентов.
        </div>
      </div>
    </div>
    <div class="col-span-12 sm:col-span-6 advantages-item  advantages-item-2">
      <img src="img/advantages/2.png" alt="" class="absolute-fit object-cover">
      <div class="relative">
        <div class="flex gap-6 sm:flex-col max-sm:items-center">
          <div class="advantages-item-image">
            <c-icon class="icon" href="img/icons.svg#globus"></c-icon>
          </div>
          <div class="text-lg sm:text-2xl font-bold">Аутсорсинг диджитал-маркетинга</div>
        </div>
        <div class="mt-5 max-sm:text-sm">
          Неважно, в какой точке России находится ваш бизнес.
          Таргетс360 работает удаленно. Включает профессионального
          диджитал- маркетолога, маркетинговый софт, консультации и стандарты качества.
        </div>
      </div>
    </div>

    <div class="col-span-12 lg:col-span-4 advantages-item  advantages-item-3">
      <div class="relative">
        <div class="flex gap-6 sm:flex-col max-sm:items-center">
          <div class="advantages-item-image">
            <c-icon class="icon" href="img/icons.svg#user-id"></c-icon>
          </div>
          <div class="text-lg sm:text-2xl font-bold">
            Строгий отбор
            специалистов
          </div>
        </div>
        <div class="mt-5 max-sm:text-sm">
          Создатели Таргетс360 18 лет занимаются
          диджитал-маркетингом, поэтому могут
          легко отличить профессионала от
          посредственности. Делегируйте задачи
          Таргетс360, и ваш шанс наткнуться
          на дилетанта или прокрастинатора станет
          нулевым. Поиск, адаптацию и контроль
          специалистов сервис тоже берет на себя.
        </div>
      </div>
    </div>
    <div class="col-span-12 sm:col-span-6 lg:col-span-4 advantages-item  advantages-item-4">
      <img src="img/advantages/4.png" alt="" class="absolute-fit object-cover">
      <div class="relative">
        <div class="flex gap-6 sm:flex-col max-sm:items-center">
          <div class="advantages-item-image">
            <c-icon class="icon" href="img/icons.svg#check"></c-icon>
          </div>
          <div class="text-lg sm:text-2xl font-bold">
            Гибкость фриланса,
            надежность компании
          </div>
        </div>
        <div class="mt-5 max-sm:text-sm">
          Таргетс360 берет ответственность
          за результат на себя. Диджитал-маркетолог
          всю работу фиксирует в системе сервиса.
          Специалисты решают задачи по правилам
          и регламентам, которые обеспечивают
          высокий результат в диджитал-маркетинге.
        </div>
      </div>
    </div>
    <div class="col-span-12 sm:col-span-6 lg:col-span-4 advantages-item  advantages-item-5">
      <img src="img/advantages/5.png" alt="" class="absolute-fit object-cover">
      <div class="relative">
        <div class="flex gap-6 sm:flex-col max-sm:items-center">
          <div class="advantages-item-image">
            <c-icon class="icon" href="img/icons.svg#settings"></c-icon>
          </div>
          <div class="text-lg sm:text-2xl font-bold">
            Понимание, как устроен
            диджитал-маркетинг
            в компании
          </div>
        </div>
        <div class="mt-5 max-sm:text-sm">
          Таргетс360 делает диджитал-маркетинг
          простым и понятным. Диджитал-
          маркетолог оцифровывает процессы,
          объясняет, как они устроены, и указывает
          рычаги влияния, которые приводят вас
          к желаемому результату.
        </div>
      </div>
    </div>

    <div class="col-span-12 sm:col-span-6 advantages-item  advantages-item-6">
      <img src="img/advantages/6.png" alt="" class="absolute-fit object-cover">
      <div class="relative">
        <div class="flex gap-6 sm:flex-col max-sm:items-center">
          <div class="advantages-item-image">
            <c-icon class="icon" href="img/icons.svg#statistic"></c-icon>
          </div>
          <div class="text-lg sm:text-2xl font-bold">
            Все преимущества аутсорсинга
          </div>
        </div>
        <div class="mt-5 max-sm:text-sm">
          Нет отпусков, больничных и текучки. Постоянный оклад
          и оформление в штат не нужны. Вы платите специалистам
          сервиса только за работу над вашей задачей.
        </div>
      </div>
    </div>
    <div class="col-span-12 sm:col-span-6 advantages-item  advantages-item-7">
      <div class="relative">
        <div class="flex gap-6 sm:flex-col max-sm:items-center">
          <div class="advantages-item-image">
            <c-icon class="icon" href="img/icons.svg#message-love"></c-icon>
          </div>
          <div class="text-lg sm:text-2xl font-bold">
            Актуальные решения
            в диджитал-маркетинге
          </div>
        </div>
        <div class="mt-5 max-sm:text-sm">
          То, что сегодня в тренде, завтра может устареть. Команда
          Таргетс360 — это сообщество практиков из различных отраслей
          маркетинга. Здесь активно обмениваются опытом и тестируют
          новинки, вам предложат эффективное и свежее решение задачи.
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Какие задачи решает Таргетс360 -->
<section class="tasks p-section rounded-section">
  <div class="title mb-12 text-white">Какие задачи решает Таргетс360</div>

  <div class="grid lg:grid-cols-2 gap-7">
    <div class="tasks-content">
      <div class="tasks-header">
        <div class="text-lg sm:text-xl font-alt font-bold">
          Таргетс360 соединяет вас с профессиональным
          диджитал-маркетологом, который удаленно
          в режиме онлайн:
        </div>
      </div>
      <div class="p-3 py-6 sm:p-6 flex flex-col gap-4">
        <% for(let i = 0; i < 7; i++) { %>
        <div class="flex items-center gap-4">
          <div class="size-6 rounded-full bg-green shrink-0 flex">
            <c-icon class="icon m-auto text-white" href="img/icons.svg#gal-ochka-alt"></c-icon>
          </div>
          <div class="opacity-80 max-sm:text-sm">
            <i>Делает аудит</i> маркетинговых процессов и готовит
            комплексную стратегию в области диджитал-маркетинга
          </div>
        </div>
        <% } %>
      </div>
    </div>
    <div class="tasks-form">
      <div class="text-lg sm:text-2xl font-alt font-bold mb-8">Свяжитесь с нами по любым вопросам</div>
      <div class="flex flex-col gap-4">
        <label class="block">
          <div class="font-semibold mb-2">Ваше имя</div>
          <input type="text" class="input w-full">
        </label>
        <label class="block">
          <div class="font-semibold mb-2">Ваш телефон</div>
          <input type="tel" class="input w-full">
        </label>
        <label class="block">
          <div class="font-semibold mb-2">E-Mail <span class="font-normal opacity-60">(не обязательно)</span></div>
          <input type="tel" class="input w-full">
        </label>
        <label class="block">
          <div class="font-semibold mb-2">Опишите вашу задачу парой слов</div>
          <textarea class="input w-full h-24 resize-none"></textarea>
        </label>
      </div>
      <div class="mt-4">
        <button class="btn btn-primary btn-fill max-sm:w-full">Отправить</button>
      </div>
      <a href="javascript:;" class="block mt-4 text-xs opacity-60 hover:underline" data-fancybox-modal data-src="dialog-policy.html">
        Нажимая кнопку вы даете согласие на обработку ваших персональных данных
      </a>
    </div>
  </div>
</section>

<!-- Что входит в Таргетс360° -->
<section class="p-section">
  <div class="title mb-6 lg:hidden">Что входит в Таргетс360°</div>
  <div class="grid lg:grid-cols-2 gap-10">
    <div>
      <img src="img/what.png" alt="">
    </div>
    <div>
      <div class="title mb-6 max-lg:hidden">Что входит в Таргетс360°</div>

      <div class="divide-y divide-default/10 max-sm:text-sm">
        <div class="py-4 leading-none">
          Аудит маркетинговых процессов
        </div>
        <div class="py-4 leading-none">
          Подготовка комплексных стратегий в области диджитал-маркетинга
        </div>
        <div class="py-4 leading-none">
          Оцифровка и автоматизация процессов маркетинга и продаж
        </div>
        <div class="py-4 leading-none">
          Разработка сайтов, лендингов, интернет-магазинов и другое
        </div>
        <div class="py-4 leading-none">
          Контекстная и таргетированная реклама
        </div>
        <div class="py-4 leading-none">
          Внедрение и настройка систем сквозной аналитики
        </div>
        <div class="py-4 leading-none">
          Весь комплекс услуг SMM
        </div>
        <div class="py-4 leading-none">
          Увеличение повторных продажи с помощью CRM-маркетинга
        </div>
      </div>

      <button class="mt-8 btn btn-primary btn-fill max-sm:w-full">Обратиться в техподдержку</button>
    </div>
  </div>
</section>

<!-- Таргетс360 это -->
<section class="p-section definition">
  <div class="title mb-12">Таргетс360 это</div>
  <div class="flex flex-col gap-10">
    <div class="definition-item">
      <div class="flex items-center mb-7">
        <div class="text-2xl font-alt font-bold">Сервис для коммуникаций</div>
        <div class="text-2xl font-alt ml-auto opacity-60">
          01
        </div>
      </div>
      <div class="definition-note">
        <div class="size-6 rounded-full bg-green shrink-0 flex">
          <c-icon class="icon m-auto text-white" href="img/icons.svg#gal-ochka-alt"></c-icon>
        </div>
        <div class="opacity-80 max-sm:text-sm">
          Таргетс360 — удобная площадка, где вы общаетесь с диджитал-маркетологом.
          В едином окне можно фиксировать задачи по диджитал-маркетингу, отслеживать каждый шаг исполнения и KPI.
        </div>
      </div>
    </div>
    <div class="definition-item">
      <div class="flex items-center mb-7">
        <div class="text-2xl font-alt font-bold">Удаленный диджитал-маркетолог</div>
        <div class="text-2xl font-alt ml-auto opacity-60">
          02
        </div>
      </div>
      <div class="definition-note">
        <div class="size-6 rounded-full bg-green shrink-0 flex">
          <c-icon class="icon m-auto text-white" href="img/icons.svg#gal-ochka-alt"></c-icon>
        </div>
        <div class="opacity-80 max-sm:text-sm">
          Через Таргетс360 к вашей команде присоединится специалист, который приведет новых клиентов из интернета.
          Он работает с программным обеспечением, подрядчиками и вашими сотрудниками
        </div>
      </div>
      <div class="mt-8 max-sm:text-sm">
        <b>Обозначает курс</b> <br>
        Вместе с вами диджитал-маркетолог формирует стратегию и тактику продвижения, а также фиксирует ожидаемый KPI.
        <br><br>
        <b>Контролирует работу подрядчиков</b> <br>
        Диджитал-маркетолог — это проект-менеджер, который избавляет вас от лишних коммуникаций. Он ставит подрядчикам задачи
        и контролирует результат. Тщательно проверяет, чтобы все работы выполнялись вовремя, по стандартам качества, правилам, регламентам
        и чек-листам.
        <br><br>
        <b>Контролирует работу ПО и сквозной аналитики</b> <br>
        Диджитал-маркетолог внедряет и настроивает программное обеспечение и сквозную аналитику для управления маркетингом. Он следит
        за их работой и эффективностью.
        <br><br>
        <b>Разбирается с документами</b> <br>
        Диджитал-маркетолог готовит счета, договоры, акты и другие документы, необходимые для работы, организует расчеты с подрядчиками.
      </div>
    </div>
    <div class="definition-item">
      <div class="flex items-center mb-7">
        <div class="text-2xl font-alt font-bold">Настройка и внедрение маркетингового ПО</div>
        <div class="text-2xl font-alt ml-auto opacity-60">
          03
        </div>
      </div>
      <div class="definition-note">
        <div class="size-6 rounded-full bg-green shrink-0 flex">
          <c-icon class="icon m-auto text-white" href="img/icons.svg#gal-ochka-alt"></c-icon>
        </div>
        <div class="opacity-80 max-sm:text-sm">
          Диджитал-маркетолог подбирает комплекс программного обеспечения и помогает внедрить его в вашу компанию,
          чтобы маркетинг стал подконтрольным и эффективным. Система отчетов в цифрах показывает слабые места и точки
          роста, а рутинные маркетинговые процессы автоматизируются
        </div>
      </div>
      <div class="mt-8 max-sm:text-sm">
        <b>ПО для веб-аналитики</b><br>
        Помогает проанализировать поведение клиентов на сайте и посадочных страницах. Вы узнаете, что отталкивает ваших клиентов от покупки.
        <br><br>
        <b>ПО для бизнес-аналитики</b><br>
        Показывает эффективность рекламных каналов на уровне сделок, продаж (в том числе повторных), LTV, а не лидов. Вам очевидно, какие каналы масштабировать, а какие отключить.
        <br><br>
        <b>CRM-система</b><br>
        CRM-система, где хранится клиентская база. Вы можете ее обновлять, чистить и сегментировать, чтобы в использовать в CRM-маркетинге.
      </div>
    </div>
    <div class="definition-item">
      <div class="flex items-center mb-7">
        <div class="text-2xl font-alt font-bold">Система правил и регламентов</div>
        <div class="text-2xl font-alt ml-auto opacity-60">
          04
        </div>
      </div>
      <div class="definition-note">
        <div class="size-6 rounded-full bg-green shrink-0 flex">
          <c-icon class="icon m-auto text-white" href="img/icons.svg#gal-ochka-alt"></c-icon>
        </div>
        <div class="opacity-80 max-sm:text-sm">
          В Таргетс360 специалисты работают по единому своду правил.
        </div>
      </div>
      <div class="mt-8 max-sm:text-sm">
        Благодаря правилам у вас, маркетолога и исполнителя складывается одинаковое понимание задачи и представление о конечном результате.
        <br><br>
        Правила гарантируют качественное выполнение задачи. Их смысл и эффективность проверены опытным путем. К тому же создатели сервиса регулярно собирают обратную связь и на ее основе совершенствуют регламенты. Прямо в процессе решения задач вы ощутите, как работа с Таргетс360 становится комфортнее.
        <br><br>
        Даже если вы никогда не занимались диджитал-маркетингом, то все равно сможете самостоятельно оценить результат. На сервисе есть короткий чек-лист для проверки каждого типа задачи и услуги.
      </div>
    </div>
  </div>
</section>

<!-- Как работает Таргетс360 -->
<section class="p-section howwork rounded-section">
  <div class="howwork-block">
    <div class="howwork-left lg:w-96 bg-l3 rounded-3xl sm:rounded-4xl py-10 px-3 sm:px-6">
      <div class="title">
        Как работает
        Таргетс360
      </div>
      <div class="mt-3 sm:mt-8 opacity-70">
        Подходит для разовых проектов
        и долгосрочного сотрудничества.
      </div>
      <button class="mt-5 sm:mt-15 btn btn-primary btn-fill max-sm:w-full">Отправить задачу</button>
    </div>
    <div class="grow lg:py-8 max-lg:px-4">
      <div class="divide-y divide-l3">
        <% for(let i = 0; i < 7; i++) { %>
        <div class="flex items-center gap-4 py-2 sm:py-4">
          <c-icon class="icon text-2xl text-accent" href="img/icons.svg#to-right-disc"></c-icon>
          <div class="max-sm:text-sm">
            Делает аудит маркетинговых процессов и готовит комплексную стратегию
            в области диджитал-маркетинга
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</section>

<!-- Отзывы -->
<section class="p-section reviews overflow-hidden">
  <div class="title mb-12">Отзывы</div>

  <div class="relative">
    <div class="reviews-slider swiper -mx-1.5 sm:-mx-3.5 overflow-visible">
      <div class="swiper-wrapper">
        <% for(let i = 0; i < 10; i++) { %>
        <div class="swiper-slide w-10/12 sm:w-8/12 lg:w-1/2 px-1.5 sm:px-3.5">
          <div class="reviews-item">
            <div class="flex md:items-center gap-5 max-md:flex-col">
              <div class="flex items-center gap-5">
                <div class="flex w-10 md:w-20 h-12 md:h-24 bg-sec text-white rounded-2xl md:rounded-3xl shrink-0">
                  <c-icon class="icon text-2xl md:text-5xl m-auto " href="img/icons.svg#smile"></c-icon>
                </div>
                <div>
                  <div class="text-xl sm:text-2xl font-alt font-bold">Константин</div>
                  <div class="opacity-80 max-sm:text-sm">“СистемА-К”</div>
                </div>
              </div>
              <div class="flex gap-1 md:ml-auto">
                <c-icon class="icon text-2xl text-yellow" href="img/icons.svg#star"></c-icon>
                <c-icon class="icon text-2xl text-yellow" href="img/icons.svg#star"></c-icon>
                <c-icon class="icon text-2xl text-yellow" href="img/icons.svg#star"></c-icon>
                <c-icon class="icon text-2xl text-yellow" href="img/icons.svg#star"></c-icon>
                <c-icon class="icon text-2xl text-yellow" href="img/icons.svg#star"></c-icon>
              </div>
            </div>
            <div class="mt-6 opacity-80 max-sm:text-sm">
              “Компания ООО «СистемА-К» работает с рекламным агентством БизнесПрофи с 2011 г. Очень довольны профессионализмом
              и порядочностью сотрудников компании. Компания помогает постоянно совершенствовать нашу систему работы в области интернет-маркетинга и запуске новых проектов. Желаем процветания, успехов, совершенствования и большое множество
              клиентов.”
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</section>
<script>
  new Swiper('.reviews-slider', {
    slidesPerView: 'auto'
  })
</script>

<!-- Свяжитесь с нами по любым вопросам -->
<section class="p-section question rounded-section">
  <div class="title text-center mb-12">Свяжитесь с нами по любым вопросам</div>
  <div class="question-block">
    <div class="question-form">
      <div class="flex flex-col gap-4">
        <label class="block">
          <div class="font-semibold mb-2">Ваше имя</div>
          <input type="text" class="input w-full">
        </label>
        <label class="block">
          <div class="font-semibold mb-2">Ваш телефон</div>
          <input type="tel" class="input w-full">
        </label>
        <label class="block">
          <div class="font-semibold mb-2">E-Mail <span class="font-normal opacity-60">(не обязательно)</span></div>
          <input type="tel" class="input w-full">
        </label>
        <label class="block">
          <div class="font-semibold mb-2">Опишите вашу задачу парой слов</div>
          <textarea class="input w-full h-24 resize-none"></textarea>
        </label>
      </div>
      <div class="mt-4">
        <button class="btn btn-primary btn-fill max-sm:w-full">Отправить</button>
      </div>
      <a href="javascript:;" class="block mt-4 text-xs opacity-60 hover:underline" data-fancybox-modal data-src="dialog-policy.html">
        Нажимая кнопку вы даете согласие на обработку ваших персональных данных
      </a>
    </div>
    <div class="question-image">
      <img src="img/question.png" alt="">
    </div>
  </div>
</section>


<%= require('./html-includes/footer.html')() %>