<%= require('./html-includes/header.html')() %>
<%= require('./html-includes/page-header.html')() %>

<section class="p-section">
  <div class="note px-4 sm:px-10 py-8 mb-14">
    <div class="sm:text-2xl font-alt font-bold">Описание и стоимость услуг носят рекомендательный характер для сторон</div>
    <div class="max-sm:text-xs mt-2">
      Заказчик и маркетолог в каждом случае согласуют индивидуальную стоимость и условия, договоренности фиксируются в системе Таргетс360.
    </div>
  </div>
  <div class="title mb-12">Стандартные решения</div>
  <div class="grid lg:grid-cols-2 gap-7">
    <div class="solution-item">
      <div class="solution-item-header">
        <div class="solution-item-image">
          <c-icon class="icon" href="img/icons.svg#globus"></c-icon>
        </div>
        <div class="text-lg sm:text-2xl font-bold font-alt">
          Аутсорсинг специалистов
          digital-маркетинга
        </div>
      </div>
      <div class="solution-item-content">
        <div class="opacity-80">
          Помогаем клиентам привлекать пользователей и увеличивать
          прибыль с помощью комплексного подхода к маркетингу
        </div>
        <div class="mt-6 font-semibold mb-5">Что входит в услугу:</div>
        <div class="flex flex-col gap-2.5">
          <% for(let i = 0; i < 4; i++) { %>
          <div class="flex items-center gap-3">
            <div class="size-5 flex rounded-full bg-sec shrink-0">
              <c-icon class="icon m-auto text-sm text-accent" href="img/icons.svg#gal-ochka-alt"></c-icon>
            </div>
            <div class="opacity-80">Формирует тактику и стратегию продвижения </div>
          </div>
          <% } %>
        </div>
        <button class="btn btn-primary btn-fill mt-12 sm:px-14 max-sm:w-full">Подробнее</button>
      </div>
    </div>
    <div class="solution-item">
      <div class="solution-item-header">
        <div class="solution-item-image">
          <c-icon class="icon" href="img/icons.svg#chart"></c-icon>
        </div>
        <div class="text-lg sm:text-2xl font-bold font-alt">
          Комплексная лидогенерация
        </div>
      </div>
      <div class="solution-item-content">
        <div class="opacity-80">
          Помогаем клиентам привлекать пользователей и увеличивать
          прибыль с помощью комплексного подхода к маркетингу
        </div>
        <div class="mt-6 font-semibold mb-5">Что входит в услугу:</div>
        <div class="flex flex-col gap-2.5">
          <% for(let i = 0; i < 4; i++) { %>
          <div class="flex items-center gap-3">
            <div class="size-5 flex rounded-full bg-sec shrink-0">
              <c-icon class="icon m-auto text-sm text-accent" href="img/icons.svg#gal-ochka-alt"></c-icon>
            </div>
            <div class="opacity-80">Формирует тактику и стратегию продвижения </div>
          </div>
          <% } %>
        </div>
        <button class="btn btn-primary btn-fill mt-12 sm:px-14 max-sm:w-full">Подробнее</button>
      </div>
    </div>
    <div class="solution-item">
      <div class="solution-item-header">
        <div class="solution-item-image">
          <c-icon class="icon" href="img/icons.svg#target"></c-icon>
        </div>
        <div class="text-lg sm:text-2xl font-bold font-alt">
          Таргетированная реклама
        </div>
      </div>
      <div class="solution-item-content">
        <div class="opacity-80">
          Помогаем клиентам привлекать пользователей и увеличивать
          прибыль с помощью комплексного подхода к маркетингу
        </div>
        <div class="mt-6 font-semibold mb-5">Что входит в услугу:</div>
        <div class="flex flex-col gap-2.5">
          <% for(let i = 0; i < 4; i++) { %>
          <div class="flex items-center gap-3">
            <div class="size-5 flex rounded-full bg-sec shrink-0">
              <c-icon class="icon m-auto text-sm text-accent" href="img/icons.svg#gal-ochka-alt"></c-icon>
            </div>
            <div class="opacity-80">Формирует тактику и стратегию продвижения </div>
          </div>
          <% } %>
        </div>
        <button class="btn btn-primary btn-fill mt-12 sm:px-14 max-sm:w-full">Подробнее</button>
      </div>
    </div>
    <div class="solution-item">
      <div class="solution-item-header">
        <div class="solution-item-image">
          <c-icon class="icon" href="img/icons.svg#notebook"></c-icon>
        </div>
        <div class="text-lg sm:text-2xl font-bold font-alt">
          SEO-продвижение
        </div>
      </div>
      <div class="solution-item-content">
        <div class="opacity-80">
          Помогаем клиентам привлекать пользователей и увеличивать
          прибыль с помощью комплексного подхода к маркетингу
        </div>
        <div class="mt-6 font-semibold mb-5">Что входит в услугу:</div>
        <div class="flex flex-col gap-2.5">
          <% for(let i = 0; i < 4; i++) { %>
          <div class="flex items-center gap-3">
            <div class="size-5 flex rounded-full bg-sec shrink-0">
              <c-icon class="icon m-auto text-sm text-accent" href="img/icons.svg#gal-ochka-alt"></c-icon>
            </div>
            <div class="opacity-80">Формирует тактику и стратегию продвижения </div>
          </div>
          <% } %>
        </div>
        <button class="btn btn-primary btn-fill mt-12 sm:px-14 max-sm:w-full">Подробнее</button>
      </div>
    </div>
    <div class="solution-item">
      <div class="solution-item-header">
        <div class="solution-item-image">
          <c-icon class="icon" href="img/icons.svg#verified"></c-icon>
        </div>
        <div class="text-lg sm:text-2xl font-bold font-alt">
          Маркировка интернет-рекламы
        </div>
      </div>
      <div class="solution-item-content">
        <div class="opacity-80">
          Помогаем клиентам привлекать пользователей и увеличивать
          прибыль с помощью комплексного подхода к маркетингу
        </div>
        <div class="mt-6 font-semibold mb-5">Что входит в услугу:</div>
        <div class="flex flex-col gap-2.5">
          <% for(let i = 0; i < 4; i++) { %>
          <div class="flex items-center gap-3">
            <div class="size-5 flex rounded-full bg-sec shrink-0">
              <c-icon class="icon m-auto text-sm text-accent" href="img/icons.svg#gal-ochka-alt"></c-icon>
            </div>
            <div class="opacity-80">Формирует тактику и стратегию продвижения </div>
          </div>
          <% } %>
        </div>
        <button class="btn btn-primary btn-fill mt-12 sm:px-14 max-sm:w-full">Подробнее</button>
      </div>
    </div>
    <div class="solution-item">
      <div class="solution-item-header">
        <div class="solution-item-image">
          <c-icon class="icon" href="img/icons.svg#zoom"></c-icon>
        </div>
        <div class="text-lg sm:text-2xl font-bold font-alt">
          Аудит интернет-маркетинга
        </div>
      </div>
      <div class="solution-item-content">
        <div class="opacity-80">
          Помогаем клиентам привлекать пользователей и увеличивать
          прибыль с помощью комплексного подхода к маркетингу
        </div>
        <div class="mt-6 font-semibold mb-5">Что входит в услугу:</div>
        <div class="flex flex-col gap-2.5">
          <% for(let i = 0; i < 4; i++) { %>
          <div class="flex items-center gap-3">
            <div class="size-5 flex rounded-full bg-sec shrink-0">
              <c-icon class="icon m-auto text-sm text-accent" href="img/icons.svg#gal-ochka-alt"></c-icon>
            </div>
            <div class="opacity-80">Формирует тактику и стратегию продвижения </div>
          </div>
          <% } %>
        </div>
        <button class="btn btn-primary btn-fill mt-12 sm:px-14 max-sm:w-full">Подробнее</button>
      </div>
    </div>
    <div class="solution-item">
      <div class="solution-item-header">
        <div class="solution-item-image">
          <c-icon class="icon" href="img/icons.svg#diagram"></c-icon>
        </div>
        <div class="text-lg sm:text-2xl font-bold font-alt">
          Сквозная аналитика
        </div>
      </div>
      <div class="solution-item-content">
        <div class="opacity-80">
          Помогаем клиентам привлекать пользователей и увеличивать
          прибыль с помощью комплексного подхода к маркетингу
        </div>
        <div class="mt-6 font-semibold mb-5">Что входит в услугу:</div>
        <div class="flex flex-col gap-2.5">
          <% for(let i = 0; i < 4; i++) { %>
          <div class="flex items-center gap-3">
            <div class="size-5 flex rounded-full bg-sec shrink-0">
              <c-icon class="icon m-auto text-sm text-accent" href="img/icons.svg#gal-ochka-alt"></c-icon>
            </div>
            <div class="opacity-80">Формирует тактику и стратегию продвижения </div>
          </div>
          <% } %>
        </div>
        <button class="btn btn-primary btn-fill mt-12 sm:px-14 max-sm:w-full">Подробнее</button>
      </div>
    </div>
    <div class="solution-item">
      <div class="solution-item-header">
        <div class="solution-item-image">
          <c-icon class="icon" href="img/icons.svg#sidebar"></c-icon>
        </div>
        <div class="text-lg sm:text-2xl font-bold font-alt">
          Контекстная реклама
        </div>
      </div>
      <div class="solution-item-content">
        <div class="opacity-80">
          Помогаем клиентам привлекать пользователей и увеличивать
          прибыль с помощью комплексного подхода к маркетингу
        </div>
        <div class="mt-6 font-semibold mb-5">Что входит в услугу:</div>
        <div class="flex flex-col gap-2.5">
          <% for(let i = 0; i < 4; i++) { %>
          <div class="flex items-center gap-3">
            <div class="size-5 flex rounded-full bg-sec shrink-0">
              <c-icon class="icon m-auto text-sm text-accent" href="img/icons.svg#gal-ochka-alt"></c-icon>
            </div>
            <div class="opacity-80">Формирует тактику и стратегию продвижения </div>
          </div>
          <% } %>
        </div>
        <button class="btn btn-primary btn-fill mt-12 sm:px-14 max-sm:w-full">Подробнее</button>
      </div>
    </div>
  </div>
</section>

<%= require('./html-includes/connect.html')() %>
<%= require('./html-includes/footer.html')() %>